Source: dwv-orthanc-plugin
Section: science
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Andreas Tille <tille@debian.org>
Build-Depends: debhelper (>= 9),
               cmake (>= 2.8),
               python,
               orthanc-dev,
               libjs-jquery,
               libjs-jquery-flot
Standards-Version: 3.9.6
Vcs-Browser: https://anonscm.debian.org/cgit/debian-med/dwv-orthanc-plugin.git
Vcs-Git: git://anonscm.debian.org/debian-med/dwv-orthanc-plugin.git
Homepage: https://github.com/ivmartel/dwv-orthanc-plugin

Package: dwv-orthanc-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, orthanc (>= 0.8.6)
Description: DICOM Web Viewer (DWV) for Orthanc
 The DWV Orthanc Plugin lets the user view DICOM images stored
 in Orthanc using DWV, an HTML5 zero-footprint viewer (DWV).
 Its basic tools include scrolling, windowing/leveling
 (manually and using presets), annotations and
 basic image filters. It is touch screen compatible.
