Source: dwv-orthanc-plugin
Section: science
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Andreas Tille <tille@debian.org>
Build-Depends: debhelper (>= 9),
               cmake (>= 2.8),
               python,
               liborthancclient-dev
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/viewvc/debian-med/trunk/packages/dwv-orthanc-plugin/trunk/
Vcs-Svn: svn://anonscm.debian.org/debian-med/trunk/packages/dwv-orthanc-plugin/trunk/
Homepage: https://github.com/ivmartel/dwv-orthanc-plugin

Package: dwv-orthanc-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, orthanc (>= 0.8.6)
Description: DICOM Web Viewer (DWV) for Orthanc
 View DICOM images stored in Orthanc using DWV, a HTML5 zero-footpring viewer. 
 Provides basic tools: scroll, window/level (manual and presets), annotations,
 basic image filters. Touch screen compatible. 
